<div class="container">
    <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="header">
        <div class="col-xs-12 well col-sm-4 well col-md-4 well" id="left">
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="title-div">
                <h1>Arturo Olivares</h1>
            </div>
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="cv-bio">
                <p>
                    Computer Science student at Monterrey Institute
                    of Technology and Higher Education (ITESM). Interested
                    in regular expressions, lexers, parsers, and the design
                    and implementation of customized data structures, and algorithms.
                    Currently working on the development of a Python library similar to scikit-learn.
                </p>
            </div>
        </div>
        <div class="col-xs-12 well col-sm-4 well col-md-4 well" id="middle">
            <img src="../assets/images/profile_pic.jpeg"/>
        </div>
        <div class="col-xs-12 well col-sm-4 well col-md-4 well" id="right">
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="info"
            style="margin-left: 4vw;">
                <p>aolivaresgzz.2003@gmail.com
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </p>
            </div>
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="info"
            style="margin-left: 12.5vw;">
                <p>812-123-7204
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </p>
            </div>
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="info"
            style="margin-left: 12.5vw;">
                <p>Monterrey, NL
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </p>
            </div>
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="info"
            style="margin-left: 12.5vw;">
                <p>@gprodigalson
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </p>
            </div>
        </div>
    </div>
</div>