<div class="container">
    <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="footer">
        <div class="col-xs-12 well col-sm-6 well col-md-6 well" id="left">
            <div class="col-xs-12 well col-sm-12 well col-md-12 well">
                <h3>Education</h3>
            </div>
            <div class="col-xs-12 well col-sm-12 well col-md-12 well"
            style="margin-bottom: 0;">
                <p>B.S. in Computer Science and Technology</p>
                <p style="font-weight: bolder;">Monterrey Institute of Technology and Higher Education</p>
                <p style="color:gray; font-weight: bold;">Expected Graduation: 2024</p>
            </div>
        </div>
        <div class="col-xs-12 well col-sm-6 well col-md-6 well" id="right">
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="title-div">
                <h3>Languages</h3>
            </div>
            <div class="col-xs-12 well col-sm-12 well col-md-12 well"
            style="margin-bottom: 1vh;" id="right-div-description">
                <p>- Spanish (Mother Language)</p>
                <p>- English (Advanced)</p>
                <p>- French (Basic)</p>
            </div>
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="title-div">
                <h3>Interests</h3>
            </div>
            <div class="col-xs-12 well col-sm-12 well col-md-12 well"
            style="margin-bottom: 0;"  id="right-div-description">
                <p>Programming languages | Data Structures | Mathematics | Philosophy |&nbsp;
                    Front-end development | C++ coding
                </p>
            </div>
        </div>
    </div>
</div>
