<div class="container">
    <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="body">
        <div class="col-xs-12 well col-sm-6 well col-md-6 well" id="left">
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="title-div">
                <h2>
                    Work Experience
                </h2>
            </div>
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="job">
                <p style="margin-top: 0; color:gray; font-weight: bold;">
                    2022
                </p>
                <p style="margin-top: 0; color:gray; font-weight: bold;">
                    Monterrey, México
                </p>
                <p style="font-weight: bold;">Front-end Junior Developer</p>
                <p>Comisión del Hermano Mayor</p>
                <p style="margin-top: 0; color:gray; font-weight: bold;">
                    Accomplishments
                </p>
                <p style="margin-bottom: 0;">As a junior frontend developer for the Comisión del Hermano
                    Mayor's web app, my role involved creating and implementing
                    user interface designs and features using front-end technologies
                    like HTML, CSS, JavaScript, and Bootsrap.
                </p>
            </div>
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="job" style="margin-top: 1vh;">
                <p style="margin-top: 0; color:gray; font-weight: bold;">
                    2022
                </p>
                <p style="margin-top: 0; color:gray; font-weight: bold;">
                    Monterrey, México
                </p>
                <p style="font-weight: bold;">Main Head of Front-end Development</p>
                <p>John Deere</p>
                <p style="margin-top: 0; color:gray; font-weight: bold;">
                    Accomplishments
                </p>
                <p style="margin-bottom: 0;">As the main head of the front-end
                    development area, I was in full charge of the whole design,
                    and implementation of UI, and UX features for the web app.
                    The web app was meant to serve as a Duolingo-like learning app
                    for sign language.
                </p>
            </div>
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="job" style="margin-top: 1vh;">
                <p style="margin-top: 0; color:gray; font-weight: bold;">
                    2023
                </p>
                <p style="margin-top: 0; color:gray; font-weight: bold;" >
                    Monterrey, México
                </p>
                <p style="font-weight: bold;">Main Head of Front-end Development</p>
                <p>Perficient</p>
                <p style="margin-top: 0; color:gray; font-weight: bold;">Accomplishments</p>
                <p style="margin-bottom: 0;">Currently, I serve as the main
                    front-end developer for the Perfcient web app, which consists
                    of a chatbot powered by an AI to aid workers as assistants in
                    their daily tasks. Also, as the project is more complex than
                    previous ones, the use of the Angular framework, and JavaScript
                    libraries such as particle.js have been come into play.
                </p>
            </div>
        </div>
        <div class="col-xs-12 well col-sm-6 well col-md-6 well" id="right">
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="title-div">
                <h2>
                    Skill & Compentences
                </h2>
            </div>
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="percentages-div">
                <p style="margin-right: 0.5vw;">100</p>
                <p style="margin-right: 2.5vw;">75</p>
                <p style="margin-right: 3vw;">50</p>
                <p style="margin-right: 3.5vw;">25</p>
                <p style="margin-right: 2.4vw;">0</p>
            </div>
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="skills-n-comps">
                <div class="row">
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="skill-div">
                        <p>Thinking through first time principles</p>
                    </div>
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="percentage-div">
                        <div>
                            <div style="width: 90%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="skill-div">
                        <p>Micromanaging</p>
                    </div>
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="percentage-div">
                        <div>
                            <div style="width: 95%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="skill-div">
                        <p>Goal oriented</p>
                    </div>
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="percentage-div">
                        <div>
                            <div style="width: 75%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="skill-div">
                        <p>Future focused</p>
                    </div>
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="percentage-div">
                        <div>
                            <div style="width: 90%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="skill-div">
                        <p>Critical thinking</p>
                    </div>
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="percentage-div">
                        <div>
                            <div style="width: 85%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="skill-div">
                        <p>Resiliency</p>
                    </div>
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="percentage-div">
                        <div>
                            <div style="width: 60%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="skill-div">
                        <p>Verbal and written communication</p>
                    </div>
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="percentage-div">
                        <div>
                            <div style="width: 80%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="skill-div">
                        <p>Leadership</p>
                    </div>
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="percentage-div">
                        <div>
                            <div style="width: 65%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="skill-div">
                        <p>Creativity</p>
                    </div>
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="percentage-div">
                        <div>
                            <div style="width: 90%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="skill-div">
                        <p>Time management</p>
                    </div>
                    <div class="col-xs-6 well col-sm-6 well col-md-6 well" id="percentage-div">
                        <div>
                            <div style="width: 80%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="title-div" style="margin-bottom: 0.8vh;">
                <h2>
                    Achievements & Certificates
                </h2>
            </div>
            <div class="col-xs-12 well col-sm-12 well col-md-12 well" id="achiev-n-cert">
                <div class="col-xs-12 well col-sm-12 well col-md-12 well">
                    <h3>Learn C++ Programming -Beginner to Advance- Deep Dive in C++</h3>
                    <p>
                        A 30 hour course that covers a wide range of topics,
                        including data types, variables, operators, control structures,
                        functions, arrays, pointers, classes, templates, and more.
                    </p>
                </div>
                <div class="col-xs-12 well col-sm-12 well col-md-12 well">
                    <h3>Mastering Data Structures & Algorithms using C and C++</h3>
                    <p>
                        A 53 hour course designed to teach how to effectively
                        use data structures and algorithms to solve problems
                        efficiently using the C and C++ programming languages.
                        The course covers a wide range of topics, including arrays,
                        linked lists, stacks, queues, trees, graphs, searching,
                        sorting, and dynamic programming.
                    </p>
                </div>
                <div class="col-xs-12 well col-sm-12 well col-md-12 well">
                    <h3>Elixir for Beginners</h3>
                    <p>
                        A 3 hour crash course that introduces the Elixir
                        programming language. Elixir is a functional programming
                        language that runs on the Erlang virtual machine,
                        which makes it suitable for building scalable and
                        fault-tolerant systems. The course covers
                        syntax, data types, functions, modules, and
                        pattern matching, concurrency, and distributed systems
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>